// Blank theme
// $-theme: (
//     'text-primary': #,
//     'text-secondary': #,
//     'text-header': #,
//     'background-dark': #,
//     'body-background': #,
//     'text-highlight': #,
//     'highlight': #,
// );

// Bullets Over Boston - Summer Mysteries 2025 theme
$bullets-theme: (
  "text-primary": #343446,
  "text-secondary": #4d5031,
  "text-header": #4d5031,
  "background-dark": #343446,
  "body-background": #d9d9d9,
  "text-highlight": #4d5031,
  "highlight": #f5320b,
  "menu-links": red,
  "menu-background": white
);

// The Menagerie - Start Trek 2025 theme
$menagerie-theme: (
  "text-primary": #202020,
  "text-secondary": #2f311e,
  "text-header": #314858,
  "background-dark": #110f47,
  "body-background": #fdfdfd,
  "text-highlight": #4d5031,
  "highlight": #f5320b,
  "menu-links": #8d2329,
  "menu-background": #e3e8ed,
);

$menagerie-dark-theme: (
  "text-primary": #fff,
  "text-secondary": #2f311e,
  "text-header": #ff9096,
  "background-dark": #110f47,
  "body-background": #314858,
  "text-highlight": #4d5031,
  "highlight": #f5320b,
  "menu-links": #f0e207,
  "menu-background": #1c2831,
);

// Dangerous Adventures Spring 2025
$dangerous-theme: (
  "text-primary": #0d0d0d,
  "text-secondary": #7d2115,
  "text-header": #f2f2f2,
  "background-dark": #7d2115,
  "body-background": #fce7d0,
  "text-highlight": #f2e205,
  "highlight": #7d2115,
);

// Thirteenth Mysteries theme
$thirteen-theme: (
  "text-primary": #010101,
  "text-secondary": #396297,
  "text-header": #dac42d,
  "background-dark": #31252d,
  "body-background": #d9d9d9,
  "text-highlight": #c93929,
  "highlight": #c93929,
);