@use "_themes" as themes;

@function theme($key) {
  @if map-has-key($current-theme, $key) {
    @return map-get($current-theme, $key);
  }

  @else {
    @warn "Key '#{$key}' not found in current theme.";
    @return null; // Or a default value if you prefer
  }
}

@mixin apply-theme() {
  .topMenu {
    background-color: theme("background-neutral");

    a {
      color: theme("menu-links");
      text-emphasis: none;
    }
  }

  .wrapper {
    font-family: "Raleway", sans-serif;
    margin: auto;
    // max-width: theme("wideBannerWidth");
    background-color: theme("background-dark");

    h3 {
      font-size: 3em;
      font-family: "Teko", sans-serif;
      margin: 0;
      text-align: center;
    }

    h4 {
      &.postHeader {
        color: theme("text-header");
      }

      font-size: 1.2em;
      font-family: "Teko",
      sans-serif;
      margin: 0;
    }

    a {
      text-decoration: none;
      font-weight: bolder;
      color: theme("highlight");
      cursor: pointer;
    }
  }

  header {
    text-align: center;

    .preHeader {
      text-transform: uppercase;
      font-family: "Limelight", sans-serif;
      margin: 0;
      color: white;
      background-color: black;
    }

    h3 {
      margin-top: 4px;
    }

    .heroBannerImg {
      img {
        width: 100%;
      }
    }
  }

  .highlightText {
    color: theme("text-highlight");
  }

  .showInfo {
    h2 {
      font-size: 2em;
      text-align: center;
    }
  }



  .programBlock {
    background-color: theme("background-neutral");

    .foleyDivider {
      border: 1px solid theme("text-secondary");
    }
  }

  .biosBlock {
    background-color: theme("background-neutral");

    &::after {
      border: 1px solid theme("text-secondary");
    }

  }

  .auditionFooter {
    background-color: theme("background-neutral");
    padding: 16px;
    text-align: center;
    font-size: larger;

    a {
      margin: 8px;
      display: block;
    }
  }
}