@use "_themes" as themes;

@function theme($key) {
  @if map-has-key($current-theme, $key) {
    @return map-get($current-theme, $key);
  }

  @else {
    @warn "Key '#{$key}' not found in current theme.";
    @return null; // Or a default value if you prefer
  }
}

@mixin apply-theme() {
  .topMenu {
    background-color: theme("body-background");

    &.expanded {
      background-color: theme("menu-background");
    }

    .menuBar {
      color: theme("text-primary");
    }

    a {
      color: theme("menu-links");
    }
  }

  .wrapper {
    font-family: "Raleway", sans-serif;
    margin: auto;
    // max-width: theme("wideBannerWidth");
    background-color: theme("background-dark");

    h3 {
      font-size: 3em;
      font-family: "Teko", sans-serif;
      margin: 0;
      text-align: center;
    }

    h4 {
      &.postHeader {
        color: theme("text-header");
      }

      font-size: 1.2em;
      font-family: "Teko",
      sans-serif;
      margin: 0;
    }
  }

  .content {
    background-color: theme("body-background");
    color: theme("text-primary");

    h1,
    h2,
    h3 {
      color: theme("text-header");
    }

    .buttonsAndLinks {
      a {
        color: theme("menu-links");
        font-weight: 400;
      }
    }
  }

  .highlightText {
    color: theme("text-highlight");
  }



  .programBlock {
    background-color: theme("body-background");

    .foleyDivider {
      border: 1px solid theme("text-secondary");
    }
  }

  .biosBlock {
    background-color: theme("body-background");

    &::after {
      border: 1px solid theme("text-secondary");
    }

  }

  .auditionFooter {
    background-color: theme("body-background");
    padding: 16px;
    text-align: center;
    font-size: larger;

    a {
      margin: 8px;
      display: block;
    }
  }
}