@use "_themes" as themes;
@import "_theme-functions";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&family=Limelight&family=Teko&display=swap");

// $wideBannerUrl: ''

$current-theme: themes.$dangerous-theme;

/* Basic reset and body styles */
body {
  font-family: sans-serif;
  font-size: medium;
  margin: 0;
  // padding: 12px 12px 36px 12px;
  // background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #444;
}

/* Styling for the list container */
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Styling for the list itself */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Styling for each list item */
li {
  padding: 15px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

li:last-child {
  border-bottom: none;
}

/* Styling for the name */
h2 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

/* Styling for the bio */
p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.4;
}

/* Styling for the image */
img {
  // max-width: 80px; /* Slightly smaller image */
  height: auto;
  border-radius: 4px;
  /* Slightly rounded corners */
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&family=Limelight&family=Teko&display=swap");

div.dangerous {
  $current-theme: themes.$dangerous-theme !global;
  @include apply-theme();
}

div.thirteen {
  $current-theme: themes.$thirteen-theme !global;
  @include apply-theme();
}

div.menagerie {
  $current-theme: themes.$menagerie-theme !global;
  @include apply-theme();
}

div.menagerie-dark {
  $current-theme: themes.$menagerie-dark-theme !global;
  @include apply-theme();
}

div.bullets {
  $current-theme: themes.$bullets-theme !global;
  @include apply-theme();
}

// body {
//   padding: 0;
// }

.App {
  background-color: black;
}

.topMenu {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-around;

  .skipToContent--link {
    position: absolute;
    left: 100%;

    &:focus {
      left: 0;
      background: white;

    }
  }

  img {
    width: 80%;
    margin: auto;

    @media (max-width: 768px) {
      width: 60%;
    }
  }

  li>a {
    font-weight: bold;
    cursor: pointer;
  }

  .topBar {
    width: 20%;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    position: fixed;
    justify-content: space-between;

    &.expanded {
      flex-direction: column;
    }
  }

  .menuBar {
    display: none;

    @media (max-width: 768px) {
      display: block;
      cursor: pointer;
      margin: .5em;
      font-size: 2em;
    }
  }

  .menuItems {
    display: flex;
    flex-direction: column-reverse;

    @media (max-width: 768px) {
      display: none;

      &.expanded {
        display: flex;
        flex-direction: column;
      }



      .mainMenu {
        li:last-child::after {
          content: "";
          display: block;
          width: 50%;
          margin-top: 40px;
          position: absolute;
          margin-left: 25%;
          left: 0;
          border: 1px solid;
        }
      }
    }

    @media (min-width: 769px) {
      width: 75%;

      li {
        padding: 1em 1em;
      }

      .mainMenu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      .secondaryMenu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}

.content {
  margin: 0 .5em;
  padding-top: 3.5em;

  @media (max-width: 769px) {
    padding-top: 7em;
  }

  padding-bottom: 1em;

  header {
    text-align: center;

    .preHeader {
      text-transform: uppercase;
      font-family: "Limelight", sans-serif;
      margin: 0;
      color: white;
      background-color: black;
    }

    h3 {
      margin-top: 4px;
    }

    .heroBannerImg {
      img {
        width: 100%;
      }
    }
  }

  .ATFshowInfo {
    .fullTitle {
      font-size: 2em;
      text-align: center;
    }

    .buttonsAndLinks {
      display: flex;
      justify-content: space-around;

      a {
        padding: .5em;
        border: 1px solid;
        border-radius: 5px;
        text-decoration: none;
        margin: 24px 0 12px 0;
      }
    }
  }

  .programBlock {
    // border-radius: 5px;
    border-top: 1px solid;
    padding: 16px 12px;
    margin: 24px 0;

    .foleyDivider {
      width: 50%;
      margin-top: 20px;
      display: block;
      margin-left: 25%;
      left: 0;
    }

    &-header {
      h3 {
        font-size: 1.4em;
      }

      &--highlightCredits {
        align-items: center;
        text-align: center;
      }
    }

    .highlightCredit {
      display: block;
      font-size: 1em;

      span.material-symbols-outlined {
        vertical-align: middle;
      }
    }

    h3 {
      margin: 0;
      text-align: center;
    }

    .wrapFix {
      font-size: 0.85em;
    }

    .singleCredit {
      @media (min-width: 768px) {
        display: flex;
      }

      padding: 1em 0;

      .dots {
        content: "";
        margin-top: auto;
        margin-bottom: 4px;
        border-bottom: 1px dashed black;
        flex-grow: 2;

        @media (max-width: 768px) {
          display: none;
        }
      }

      &-role {
        align-self: flex-end;
        max-width: 55%;
        flex-shrink: 0;
      }

      &-name {
        text-align: right;
        align-self: flex-end;

        @media (max-width: 768px) {
          flex-direction: column;
          display: flex;

          &::before {
            content: '';
            display: inline-block;
            border-bottom: 1px dashed black;
            width: 100%;
            margin: 0 0.25em;
          }
        }
      }
    }
  }

  .biosBlock {

    * {
      margin: 0;
    }

    &-title {
      text-align: center;
      padding-top: 8px;
    }

    &-singleBio {
      padding: 16px;
      margin-bottom: 16px;

      &--title {
        text-align: center;
        margin-bottom: 8px;
      }

      &::after {
        content: "";
        width: 50%;
        margin-top: 20px;
        position: absolute;
        display: block;
        margin-left: 25%;
        left: 0;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}

.backToTop {
  right: 0;
  position: fixed;
  bottom: 0;
  padding: 1em;
  background: white;
  border-radius: 100%;
  margin: 1em;

  &--link {
    display: block;
    width: 100%;
    height: 100%;

    &:focus {
      outline: 4px solid red !important;
    }
  }

  span {
    display: none;
  }
}