@use "_themes" as themes;
@import "_theme-functions";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&family=Limelight&family=Teko&display=swap");
@import "@fontsource/atkinson-hyperlegible";

$current-theme: themes.$dangerous-theme;

/* Basic reset and body styles */
body {
  font-family: "Atkinson Hyperlegible", serif;
  // font-size: medium;
  margin: 0;
  // padding: 12px 12px 36px 12px;
  // background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #444;
}

/* Styling for the list container */
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Styling for the list itself */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Styling for each list item */
ul>li {
  padding: 15px 0;
}

li:last-child {
  border-bottom: none;
}

/* Styling for the name */
h2 {
  margin: 0 0 5px 0;
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

/* Styling for text */
p,
span,
li {
  margin: auto;
  font-size: 1.05em;
  line-height: 1.4;
  max-width: 60ch;
}

a {
  font-size: 1.05em;
}

/* Styling for the image */
img {
  // max-width: 80px; /* Slightly smaller image */
  height: auto;
  border-radius: 4px;
  /* Slightly rounded corners */
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&family=Limelight&family=Teko&display=swap");

div.dangerous {
  $current-theme: themes.$dangerous-theme !global;
  @include apply-theme();
}

div.thirteen {
  $current-theme: themes.$thirteen-theme !global;
  @include apply-theme();
}

div.menagerie {
  $current-theme: themes.$menagerie-theme !global;
  @include apply-theme();
}

div.menagerie-dark {
  $current-theme: themes.$menagerie-dark-theme !global;
  @include apply-theme();
}

div.bullets {
  $current-theme: themes.$bullets-theme !global;
  @include apply-theme();
}

// body {
//   padding: 0;
// }

.App {
  background-color: black;
}

.backToTop {
  border: 1px solid;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.topMenu {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  justify-content: space-around;

  .toggleDarkTheme {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    &--dark {
      background-color: black;
      color: white;
    }

    &--light {
      background-color: white;
      color: black;
    }
  }

  .skipToContent {
    font-size: 12px;
    overflow: hidden;

    &:focus,
    &:active {
      left: 0;
      font-size: 18px;
      background: white;
      width: auto;
      height: auto;
    }
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  img {
    width: 60%;
    margin: 2% 10%;

    @media (max-width: 768px) {
      width: 60%;
      margin: unset;
    }
  }

  i {
    padding: 0 4px;
  }


  li>a {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .mobileMenu {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: theme-get("menu-background");
      color: theme-get("menu-links");
    }
  }

  .desktopMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    li {
      padding: .5em 1em;
    }

    .mainMenu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .secondaryMenu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    position: fixed;
    justify-content: space-between;

    &.expanded {
      flex-direction: column;
    }
  }

  .menuBar {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      // margin: .5em;
      font-size: 2em;
      width: 90%;

      span {
        margin: 0;
      }
    }
  }

  .menuItems {
    display: flex;
    flex-direction: column-reverse;

    .secondaryMenu {
      a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
      }
    }

    @media (max-width: 768px) {
      display: none;

      &.expanded {
        display: flex;
        flex-direction: column;
      }



      .mainMenu {
        li:last-child::after {
          content: "";
          display: block;
          width: 50%;
          margin-top: 40px;
          position: absolute;
          margin-left: 25%;
          left: 0;
          border: 1px solid;
        }
      }
    }


  }
}

#content {
  padding: 0 12% 3em 12%;

  h1 {
    margin: 0;
  }

  @media (max-width: 769px) {
    padding-top: 8em;
    padding-right: 5%;
    padding-left: 5%;
  }

  .programHeader {
    text-align: center;

    .preHeader {
      text-transform: uppercase;
      font-family: "Limelight", sans-serif;
      margin: 0;
      color: white;
      background-color: black;
    }

    h3 {
      margin-top: 4px;
    }

    .heroBannerImg {
      img {
        width: 100%;
      }
    }
  }

  .ATFshowInfo {
    .fullTitle {
      font-size: 2em;
      text-align: center;
    }

    .dates {
      text-align: center;
      font-size: 1.3em;
      margin: 0.5em 0;
    }

    .locations {
      display: flex;
      justify-content: center;
      margin: 1em 0;

      .location {
        display: inline-block;
        white-space: pre-line;
        text-align: justify;
        text-align-last: center;
      }
    }

    .buttonsAndLinks {
      display: flex;
      justify-content: space-around;

      a {
        padding: .5em;
        border: 1px solid;
        border-radius: 5px;
        text-decoration: none;
        margin: 24px 0 12px 0;
        font-weight: 400;
      }
    }
  }

  .programBlock {
    // border-radius: 5px;
    border-top: 1px solid;
    padding: 16px 12px;
    margin: 24px 0;

    .foleyDivider {
      width: 50%;
      margin-top: 20px;
      display: block;
      margin-left: 25%;
      left: 0;
    }

    &-header {
      h3 {
        font-size: 1.6em;
      }

      &--highlightCredits {
        align-items: center;
        text-align: center;
      }
    }

    .highlightCredit {
      display: block;
      font-size: 1em;

      span.material-symbols-outlined {
        vertical-align: middle;
      }
    }

    h3 {
      margin: 0;
      text-align: center;
    }

    .wrapFix {
      font-size: 0.85em;
    }

    .singleCredit {
      @media (min-width: 768px) {
        display: flex;
      }

      padding: 1em 0;

      .dots {
        content: "";
        margin-top: auto;
        margin-bottom: 4px;
        border-bottom: 1px dashed black;
        flex-grow: 2;

        @media (max-width: 768px) {
          display: none;
        }
      }

      &-role {
        align-self: flex-end;
        max-width: 55%;
        flex-shrink: 0;
      }

      &-name {
        text-align: right;
        align-self: flex-end;

        @media (max-width: 768px) {
          flex-direction: column;
          display: flex;

          &::before {
            content: '';
            display: inline-block;
            border-bottom: 1px dashed black;
            width: 100%;
            margin: 0 0.25em;
          }
        }
      }
    }
  }

  .biosBlock {
    * {
      margin: 0;
    }

    &-title {
      text-align: center;
      padding-top: 8px;
    }

    &-singleBio {
      padding: 16px;
      margin-bottom: 16px;

      &--title {
        text-align: center;
        margin-bottom: 8px;
      }

      &::after {
        content: "";
        width: 50%;
        margin-top: 20px;
        position: absolute;
        display: block;
        margin-left: 25%;
        left: 0;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}

.backToTop {
  right: 0;
  position: fixed;
  bottom: 0;
  padding: 1em;
  background: white;
  border-radius: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--link {
    display: block;
    width: 100%;
    height: 100%;
  }

}